body {
  background: #000000;
  color: #333;
  margin: 0;
}

header{
  padding: 1.2rem 2rem;
  position: absolute;
  z-index: 10;
}
.title{
  color:#fff;
  font-family: monospace;
  font-size: 1.1rem;
  padding-bottom:0.4rem;
}

.live{
  color: #FFC600;
  font-size: 0.8rem;
  animation-name: live;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

@-webkit-keyframes live {
  from,
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;

  }
}

.button{
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
  padding-right:0.8rem;
}
.button:hover{
    color: #FFC600;
}
button:active{
  color: #FFC600;

}


.container{
  position: absolute;
  top:0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player{
  width: 50vh;
  height: 50vh;
  transition: all 200ms;
  cursor: pointer;

}
.player:hover{
    transform: scale(1.05);
  }

.crop{
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  clip-path: circle(50% at center);
  pointer-events: none;
 }

 .album-art{
   width: inherit;
   height: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('../images/eves.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

.playing{
  animation-name: playing;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@-webkit-keyframes playing {
  from,
  to {
    transform: rotate(0deg) ;
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.paused{
  animation-play-state: paused;
}

.spindle{
  border-radius: 50%;
  width: 4%;
  height: 4%;
  background: #000000;
}

.background{
  position: absolute;
  top:0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-image: url('../images/wotsits.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120vw 120vh;
  filter: blur(1rem);
  opacity: 0.5;
}
